.idea/*
*.pyc
.idea/misc.xml
.idea/work-scheduler.iml
lib/__pycache__/__init__.cpython-37.pyc
lib/__pycache__/CONSTANTS.cpython-37.pyc
lib/__pycache__/ws_db.cpython-37.pyc
lib/__pycache__/ws_gui.cpython-37.pyc
.idea/misc.xml
.idea/work-scheduler.iml
*.pyc